.position{
    background-color: brown;
    position: relative;
    width: 500px;
    height: 110px;
    margin: 0 auto;
}

.static {
    position: static;
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.relative {
    position: relative;
    background-color: yellow;
    height: 100px;
    width: 100px;
    left: 110px;
    bottom: 100px;
}

.fixed {
    position: fixed;
    background-color: yellow;
    height: 100px;
    width: 100px;
    left: 600px;
    bottom: 100px;
}

.absolute {
    position: absolute;
    background-color: yellow;
    height: 100px;
    width: 100px;
    left: 330px;
    top: 0;
}
